<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Example Test Suite">
        <classes>
            <class name="POM.Example">
                <methods>
                    <include name="firstTC"/>
                    <include name="secondTC"/>
                    <include name="thirdTC"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
